body{
    font-family:arial,sans-serif;
    background: linear-gradient(to right, #83a4d4, #b6fbff);
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin:0;
}
.container {
    background: white;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    width: 300px;
}
.input-section {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}
input{
    flex: 1;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 8px;
}
button{
    padding: 10px;
    border:none;
    background:#007bff ;
    color: white;
    border-radius: 8px;
    cursor:pointer;
}
button:hover{
    background:#0056b3;
}
#weatherResult{
    font-size: 18px;
    margin-top: 15px;
}